.loginForm{
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 100px auto 0;
}

.loginForm > h2{
    margin-bottom: 25px;
    line-height: 10px;
    color: #0075ff;
}


